# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Ambiente virtual
.venv/

# Variáveis de ambiente e secrets
.env
*.json
!dbt_project/**/*.json

# GCP credentials
*-credentials.json
*-key.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Prefect
.prefect/

# ruff
.ruff_cache/

# pytest
.pytest_cache/
htmlcov/
.coverage